#chart-container {
    height: 100%;
}

.orgchart {
    background: white;
}

.orgchart {
    background: #fff;
}

.orgchart td.left,
.orgchart td.right,
.orgchart td.top {
    border-color: #aaa;
}

.orgchart td>.down {
    background-color: #aaa;
}

.orgchart .gdt .title {
    background-color: #006699;
}

.orgchart .gdt .content {
    border-color: #006699;
}

.orgchart .gaf .content {
    border-color: #cc0066;
}

.orgchart .gaf .content {
    border-color: #cc0066;
}

.orgchart .gs .title {
    background-color: #009933;
}

.orgchart .gs .content {
    border-color: #009933;
}

.orgchart .gal .title {
    background-color: #f5c242;
}

.orgchart .gal .content {
    border-color: #f5c242;
}

.orgchart .gpess .title {
    background-color: #42f5dd;
}

.orgchart .gpess .content {
    border-color: #42f5dd;
}